@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background-color: #fbfbfb;
    background: url('../images/bg.jpeg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #cf5a00;
    font-size: 15px;
}

#box-container {
    min-width: 250px;
    min-height: 400px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ab9b8e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff98, #fff9f47d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.09);
    -moz-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.09);
    box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.09);
}

#signin-text {
    color: #3b3b3b;
    font-weight: 400;
    font-size: 27px;
}

#signin-form {
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 15px 0px;
    font-size: 18px;
    width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 0.5px solid #757575;
    background: none;
}

.text-input::placeholder {
    color: #a2a2a2;
}

.text-input:focus-visible {
    color: #585858;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff6f01;
}

#forgot-password {
    margin-left: 0px;
}

#no-account {
    margin-top: 30px;
}

#signup {
    text-decoration: none;
    color: #cf5a00;
    font-weight: 500;
}

#submit {
    padding: 15px;
    font-size: 18px;
    margin-top: 30px;
    border: none;
    border-radius: 40px;
    background-color: #ff6f01;
    background-image: linear-gradient(62deg, #ff6f01 0%, #F7CE68 100%);
    color: rgb(255 244 233 / 85%);
    font-weight: 100;
    -webkit-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.49);
    box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.49);
}

#submit:hover {
    background-color: #ff6f01;
    background-image: linear-gradient(62deg, #ff8121 0%, #ffd364 100%);
}